 <!-- start community section -->

 <section id="community" class="container-fluid p-4">

    <h4 class="fs-2 text-center mt-5 textlightgreen">
        Be Part of a Growing International Community
    </h4>
    <p class="px-5 py-5 mx-auto text-break text-center w-75">
        One of the challenges in networking is everybody thinks it's making cold calls to strangers. Actually, it's the people who already have strong trust relationships with you
    </p>

    <div class="row">
        <div class="p-5 col-md-6 col-sm-12">

            <div class="communitybox p-5 shadow-lg text-center border-1 rounded-3 mb-3 ">
                <h5 class="textlightgreen pb-2">One of the Best </h5>
                <p class=" text-center text-break">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod taempor incididunt ut labore et dolore magna aliqua.
                </p>

            </div>
            <div class="communitybottom d-flex pt-2">
                <img src="imgs/pp1.png" alt="Person Page" class="img-fluid rounded-3 mt-4">
                <span class="fs-5 pt-5 ps-4 align-middle">
                    David Beckham
                </span>
            </div>


        </div>
        <div class="p-5 col-md-6 col-sm-12">
            <div class="communitybox p-5 shadow-lg text-center border-1 rounded-3 mb-3 ">
                <h5 class="textlightgreen pb-2">One of the Best </h5>
                <p class=" text-center text-break">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod taempor incididunt ut labore et dolore magna aliqua.
                </p>

            </div>
            <div class="communitybottom d-flex pt-2">
                <img src="imgs/pp1.png" alt="Person Page" class="img-fluid rounded-3 mt-4">
                <span class="fs-5 pt-5 ps-4 align-middle">
                    David Beckham
                </span>
            </div>

        </div>
    </div>

</section>

<!-- end community section -->
