  <!-- start ourwork section -->
  <section id="ourwork" class="container py-5">
    <!-- start top text section  -->
    <article id="top-text">
        <div class="text-center">
            <img src="imgs/icrowdme-ourworkicon_03.png" alt="ourwork">
        </div>
        <h4 class="text-center text-uppercase fs-2 fw-bold w-50 mx-auto ">
            Our work is the presentation of our capabilities.

        </h4>
        <p class="text-center mx-auto w-50 fw-light">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation


        </p>
        <p class="text-center mx-auto w-50 fw-light">
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
    </article>
    <!-- end top-text section -->

    <!-- start navTabs section -->
    <div class="row mt-5 pb-5 mb-5">
        <ul class="nav nav-tabs nav-fill nav-justified">
            <li class="nav-item border-bottom">
                <a class="nav-link" id="simple-tab" data-bs-toggle="tab" data-bs-target="#simple" type="button" role="tab" aria-controls="simple" aria-selected="true">
                    <div class="py-4 g-1">
                        <span class="bglightgreen mx-2  text-white px-4 py-3 rounded-circle">1</span>
                        <span class="text-dark fs-3">Simple</span>
                    </div>

                </a>

            </li>
            <li class="nav-item border-bottom">
                <a class="nav-link" id="transparent-tab" data-bs-toggle="tab" data-bs-target="#transparent" type="button" role="tab" aria-controls="transparent" aria-selected="true">
                    <div class="py-4 g-1">
                        <span class="bg-dark mx-2  text-white px-4 py-3 rounded-circle">2</span>
                        <span class="text-dark fs-3">Transparent</span>
                    </div>
                </a>
            </li>
            <li class="nav-item border-bottom">

                <a class="nav-link" id="collaborative-tab" data-bs-target="#collaborative" data-bs-toggle="tab" aria-selected="true" aria-controls="collaborative" role="button">
                    <div class="py-4 g-1">
                        <span class="bg-dark mx-2  text-white px-4 py-3 rounded-circle">3</span>
                        <span class="text-dark fs-3">Collaborative</span>
                    </div>
                </a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="simple" role="tabpanel" aria-labelledby="simple-tab">
                <div class="row">
                    <div class="pt-5 col-md-3 ps-5">
                        <img src="imgs/icrowdme-tabglass_03.png" alt="TabIcon">
                    </div>
                    <div class="col-md-6 ps-5">
                        <h3 class="fs-4 mt-5 textlightgreen text-start">
                            Browse projects, like booking a hotel online !
                        </h3>
                        <p class="text-start text-dark text-light">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et do lore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>


            </div>
            <div class="tab-pane fade" id="transparent" role="tabpanel" aria-labelledby="transparent-tab">
                <div class="row">
                    <div class="pt-5 col-md-3 ps-5">
                        <img src="imgs/icrowdme-logo_02.png" alt="TabIcon">
                    </div>
                    <div class="col-md-6 ps-5">
                        <h3 class="fs-4 mt-5 textlightgreen text-start">
                            Browse projects, like booking a hotel online !
                        </h3>
                        <p class="text-start text-dark text-light">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et do lore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="collaborative" role="tabpanel" aria-labelledby="collaborative-tab">

                <div class="row">
                    <div class="pt-5 col-md-3 ps-5">
                        <img src="imgs/icrowdme-ourworkicon_03.png" alt="TabIcon">
                    </div>
                    <div class="col-md-6 ps-5">
                        <h3 class="fs-4 mt-5 textlightgreen text-start">
                            Browse projects, like booking a hotel online !
                        </h3>
                        <p class="text-start text-dark text-light">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et do lore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end navTabs section -->

</section> -->
<!-- end ourwork section -->