 <!-- start of header section fo the body -->
 <header>

    <!-- start of top header section -->
    <div class="container">
        <!-- strat to navbar section -->
        <nav class="nav navbar navbar-expand-lg navbar-light sticky-top">
            <!-- start logo section -->
            <a href="#" class="navbar-brand">
                <img src="imgs/icrowdme-logo_02.png" alt="logo image" class="border-0 img-fluid">
            </a>
            <!-- end logo section -->
            <!-- start collapsable toggler button for RWD -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <!-- end collapsable toggler button for RWD -->
            <!-- start collapsable toggler content for RWD -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0 align-content-between">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-uppercase active">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a href="#" class="nav-link text-uppercase">How it works</a>
                    </li>
                    <li class="nav-item ">
                        <a href="#" class="nav-link text-uppercase">Discover a project</a>
                    </li>
                    <li class="nav-item ">
                        <a href="#" class="nav-link text-uppercase">Blog</a>
                    </li>
                    <li class="nav-item ">
                        <a href="#" class="nav-link text-uppercase">Find out more</a>
                    </li>
                </ul>
            </div>
            <!-- end collapsable toggler button for RWD -->


            <button class="rounded-3 rounded-pill btn btn-success px-4 btnlogin">Login</button>

        </nav>
        <!-- end navbar section -->


    </div>
    <!-- end of top header section -->



</header>