  <!-- start of banner section -->
  <section id="banner">

    <!-- start banner text overlay -->
    <div class="banner-text p-5 text-light text-center">
        <h1 class="pt-5 fs-1">
            Intellectual Property has the Shelf Life

        </h1>
        <h4 class="p-3">
            of a Banana.
        </h4>
        <button class="btn btn-success btnlogin text-capitalize text-center px-4 py-3">Become a member</button>
    </div>
    <!-- end banner text overlay -->

    <!-- start banner indicators overlay -->

    <div class=" float-end text-white pt-5 pe-5 ">
        <i class="bi bi-chevron-left pe-5 fs-4 "></i>
        <i class="bi bi-chevron-right p-2 fs-4 "></i>

    </div>


    <!-- end banner indicators overlay -->




</section>
<!-- end of banner section -->