  <!-- start properties section  -->
  <section id="properties-buyers" class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 left-box p-3">

            <img src="imgs/Vector Smart Objectleft.png" alt="image text" class="pt-5 ps-4 mt-5 float-start">

            <p class="text-break float-start w-75 pt-5 mt-5 ps-5">
                <span class="fs-4 fw-bold">Find Properties</span><br><br> Sign up to browse the portfolio. Your journey to becoming a real estate baron starts here.
            </p>
            <div class="clearfix"></div>
            <button class="btn blulightebg mx-auto d-block mt-3 text-white fw-bold ">Submit your Project</button>

        </div>
        <div class="col-md-6 col-sm-12 right-box p-3">

            <img src="imgs/Vector Smart Object.png" alt="image text" class="pt-5 ps-5 mt-5 float-start">

            <p class="text-break float-start w-75 pt-5 mt-5 ps-5">
                <span class="fs-4 fw-bold">Find Buyers</span><br><br> Sign up to browse the portfolio. Your journey to becoming a real estate baron starts here.
            </p>
            <div class="clearfix"></div>
            <button class="btn bglightgreen mx-auto d-block mt-3 text-white fw-bold ">Submit your Project</button>

        </div>
    </div>

</section>
<!-- end properties section -->